<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Characters</title>
    <link rel="stylesheet" href="style.css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<body>

<h1>Characters</h1>

<div class="cardContent">

    <div class="characterCard" th:each="character : ${characterInfos}" th:object="${character}">

        <div class="picture">
            <img th:src="*{image}">
        </div>

        <div class="infos">
            <p th:text="*{id}">$id</p>
            <p th:text="*{name}">$name</p>
            <p th:text="*{status}">$status</p>
            <p th:text="*{species}">$species</p>
            <p class="textDescription">Last known location:</p> <br>
            <p th:text="*{location.name}" href="*location.url">$location</p>
            <p class="textDescription">First seen in:</p> <br>
            <!--   TODO: -->
            <!--            <p th:text="*{episodes[0]}" >$episode1s[0]</p>-->
        </div>
    </div>
</div>

</body>
</html>